{
  "extends": [
    "@react-native-community",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  }
}